<form (submit)="registrarPersonaje()">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre del Personaje:</label>
    <input type="text" class="form-control" id="nombre" [(ngModel)]="personajeForm.name" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="mb-3">
    <label for="poder" class="form-label">Poder:</label>
    <input type="number" class="form-control" id="poder" min="0" [(ngModel)]="personajeForm.poder" [ngModelOptions]="{standalone:true}">
  </div>
  <button type="submit" class="btn btn-primary">Registrar</button>
</form>
